.slideshow {
  height: 35rem;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 25px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    img {
      width: auto;
      height: 4rem;
      display: block;
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
      transition: filter 0.3s ease;

      @media (max-width: 600px) {
        right: 10px;
        height: 1.8rem;
      }
    }

    &-left {
      left: 30px;
      @media (max-width: 600px) {
        left: 10px;
      }
    }

    &-right {
      right: 30px;
      @media (max-width: 600px) {
        right: 10px;
      }
    }

    &:hover img {
      filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
    }
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $white-text-color;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.2rem 0.6rem;
    border-radius: 5px;

    @media (max-width: 600px) {
      font-size: 0.6rem;
    }
  }

  @media (max-width: 600px) {
    aspect-ratio: 1.5 / 1;
    width: 100%;
    height: auto;
  }
}
