.accueil {
  padding: 1.5rem 4rem;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: $grey-background-color;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      padding: 0;
      background-color: $white-background-color;
    }
  }

  &__link {
    flex: 1 1 350px;
    max-width: 400px;
    min-width: 250px;
    box-sizing: border-box;
    text-decoration: none;

    @media (max-width: 900px) {
      width: calc(50% - 1.5rem);
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  @media (max-width: 400px) {
    padding: 1rem 0.5rem;
  }
}
