.a-propos {
  padding: 1.5rem 4rem 0 4rem;
}

.collapse__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0;
  }
}
