.card {
  position: relative;
  color: $white-text-color;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }

  &__image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.5) 99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
  }

  &__title {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 1rem;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 600px) {
    aspect-ratio: 1.5 / 1;
  }
}
