.collapse {
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    background-color: $primary-color;
    border-radius: 5px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    color: $white-text-color;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s;

    img {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 0.3s;
      transform: rotate(180deg);
    }

    &.open img {
      transform: rotate(360deg);
    }
  }

  &__content-wrapper {
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 20px;
    background-color: $grey-background-color;
    border-radius: 5px;
  }

  &__content {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1.4;
  }
}
