.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $white-background-color;

  &__logo {
    height: 50px;

    @media (max-width: 600px) {
      height: 40px;
    }
  }

  &__nav {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: $black-text-color;
  }
  &__link {
    text-decoration: none;
    color: $black-text-color;
    font-weight: 500;

    &.active {
      text-decoration: underline;
    }
    &:hover {
      color: $primary-color;
    }

    @media (max-width: 600px) {
      text-transform: uppercase;
    }
  }
  @media (max-width: 400px) {
    padding: 1rem 0.5rem;
  }
}
