.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: $black-background-color;

  &__logo {
    height: 20px;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: 0.7rem;
    color: $white-text-color;
  }
}
