// ---------- COLORS
$primary-color: #ff6060;

$grey-background-color: #f6f6f6;
$black-background-color: black;
$white-background-color: white;

$black-text-color: black;
$white-text-color: white;

$grey-star-color: #e3e3e3;
