.banner {
  position: relative;
  height: 220px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
  }

  &__text {
    position: relative;
    color: $white-text-color;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;

    @media (max-width: 600px) {
      font-size: 1.5rem;
      max-width: 230px;
    }
  }

  @media (max-width: 600px) {
    padding: 0 40px;
    justify-content: flex-start;
    max-height: 111px;
  }
}
